.name{ 
    border: 3px solid red;
    margin: auto;
    width: fit-content;
    padding: 5px;;
}
/* border in buttom only */
.name2{
    margin-top: 10px;
    border-bottom:2px solid blue ;
}
/* margin in top only */
.name3{
    margin-top: 10px;
    border-top: 2px solid green;
}
/* making perfect hover between parent and child */
.hello{
    border: 5px solid blue;
    height: 500px;
    width: 400px;
    margin: auto;
}
.helloins{
    border: 5px solid red;
    height: 442px;
    width: 240px;
    /* 18px is the default text size of html */
    margin-top: 10px;
    padding-left: 100px;
    padding-right: 50px;
    padding-top: 20px;
}